image:
  repository: bitnamilegacy/postgresql
  tag: 15.5.15

volumePermissions:
  enabled: true
  image:
    repository: bitnamilegacy/os-shell

metrics:
  enabled: true
  image:
    repository: bitnamilegacy/postgres-exporter

global:
  security:
    allowInsecureImages: true
