architecture: replication

# Use official PostgreSQL image
image:
  repository: postgres
  tag: "15"
  pullPolicy: IfNotPresent

global:
  postgresql:
    auth:
      existingSecret: postgresql
      database: postgres
      storageClass: hostpath        # <-- updated for Docker Desktop


metrics:
  enabled: true

primary:
  persistence:
    enabled: false                  # for local environment
    size: 5Gi

  resourcesPreset: xlarge

  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all
    log_destination = 'stderr'
    logging_collector = on
    log_min_duration_statement = 1000
    log_statement = 'all'

readReplicas:
  replicaCount: 2

  persistence:
    storageClass: hostpath          # ensure replicas use correct storage
    size: 5Gi

  resourcesPreset: xlarge

  extendedConfiguration: |
    max_connections = 3001
    shared_preload_libraries = 'pg_stat_statements'
    pg_stat_statements.track = all
    log_destination = 'stderr'
    logging_collector = on
    log_min_duration_statement = 1000
    log_statement = 'all'

replication:
  enabled: true
  numSynchronousReplicas: 1
  synchronousCommit: "on"


