# Use official PostgreSQL image
image:
  repository: bitnami/postgresql
  tag: "15.5.0-debian-12-r0"
  pullPolicy: IfNotPresent

# Disable Bitnami-specific replication and presets
architecture: standalone

# Disable metrics (Bitnami)
metrics:
  enabled: false

# Primary settings
primary:
  persistence:
    enabled: false
    size: 5Gi

  resources: 
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"

  extendedConfiguration: |
    max_connections = 300
    log_destination = 'stderr'
    logging_collector = on
    log_min_duration_statement = 1000
    log_statement = 'all'

# No read replicas
readReplicas:
  replicaCount: 0

# Disable Bitnami replication
replication:
  enabled: false

# Let Bitnami chart create password automatically
auth:
  username: admin
  password: root
  database: mydb
